.idea
data
plots
tests/results/*.csv
tests/results/*.txt
tests/*.csv
tests/*.txt
/tests/**/*.txt
/tests/**/*.csv
*.npz
*-Evaluation-*[0-9]*/
thesis/evaluation-results

# Ignore Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl